@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
    background-image: url('./bp.jpg');
  }
  .modal-box {
    background-image: url('./bp.jpg');
  }
  html,
  body {
    @apply h-full;
    @apply select-none;
    @apply bg-transparent;
    @apply font-mono antialiased text-white;
    @apply overflow-hidden;
  }
}

.shadow-bottom {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
p {
  color: red;
  padding: 0;
  margin: 0;
}
